*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}
body{
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
#container{
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    height: 400px;
    align-content: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 100px;
}
.quote{
    font-size: 18px;
    margin-bottom: 70px;
    font-style: italic;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

button {
    padding: 10px 20px;
    background-color: #0072ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}
button:hover {
    background-color: #005bb5;
}